


/* styles/lazyload.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
    background-color: #f8f7fb;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
   
}

header, footer {
    text-align: center;
    padding: 1em;
    background-color: antiquewhite;
}

header h1 {
    margin-bottom: 1em;
}

main {
    width: 90%;
    max-width: 600px;
    margin: 10px;
    padding: 1em;
    background: rgba(199, 227, 178, 0.2);
    -webkit-backdrop-filter: blur(22px);
    backdrop-filter: blur(22px);
    border: 1px solid rgba(199, 227, 178, 0.3);
    display: flex;
    flex-direction: column;
    gap: 2em;
}

img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
    animation: fadeFromBlack 2s ease-in-out forwards;
}

@keyframes fadeFromBlack {
    0% {
        opacity: 0;
        background-color: black; /* Ensures starting with black background */
    }
    100% {
        opacity: 1;
        background-color: transparent; /* Ensures ending with transparent background */
    }
}

footer {
    font-size: 20px;
    text-align: center;
    padding: 20px;
    background-color: bisque;
    color: black;
}
