body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}
main{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr ;
    
}
section {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #333;
}

ul {
    list-style-type: none;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #3498db;
    color: #fff;
}
