@media (min-width: 37.5em) {
  
  
    #menu {
      display: none; /* hide hamburger button */
    }
  
    nav {
      display: flex;
      flex-direction: row; 
      
    }
  
    .navigation a {
      display: flex;
      flex-direction: row;

      flex: 1 1 100%;
    }
    
    .stuff {
      margin: 1rem auto;
    }
  }
