
@media only screen and(min-width: 38rem) {
    #myButton{
        display: none;
    }

    ul.menueLinks, ul.menuLinks.open {
        display: flex;
        justify-content: flex-end;
    }

    ul.menuLinks a:hover {
        background-color: rgba(255, green255, 255, 0.2);

    }
}




